
<div *ngIf="card">
    <h2><span>Card</span> {{card.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Number</span></dt>
        <dd>
            <span>{{card.number}}</span>
        </dd>
        <dt><span>Expiration Month</span></dt>
        <dd>
            <span>{{card.expirationMonth}}</span>
        </dd>
        <dt><span>Expiration Year</span></dt>
        <dd>
            <span>{{card.expirationYear}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{card.name}}</span>
        </dd>
        <dt><span>Ccv</span></dt>
        <dd>
            <span>{{card.ccv}}</span>
        </dd>
        <dt><span>Card Type</span></dt>
        <dd>
            <span>{{card.cardType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
