<div class="slider-wrapper">
    <nav class="nav">
        <p [ngSwitch]="isAuthenticated()"> Welcome to B4 Airlines! Explore your travel opportunities
            <a class="booking-link" routerLink="/flights-page" *ngSwitchCase="true"> here. </a>
            <a class="booking-link" (click)="login()" *ngSwitchCase="false"> here. </a>
        </p>
    </nav>
    <div class="slider">
        <div class="slider-inner">
            <div class="slide active">Santorini</div>
            <div class="slide">Sevilla</div>
            <div class="slide">Madrid</div>
        </div>
        <nav class="slider-nav">
            <div class="slider active"></div>
            <div class="slider"></div>
            <div class="slider"></div>
        </nav>
    </div>
</div>
