<div class="slider-wrapper">
    <nav class="nav">
        <p class="welcome-text">Welcome to B4 Airlines!</p>
        <p class="quote-text">Explore your travel opportunities.</p>
        <div class="book-now" [ngSwitch]="isAuthenticated()">
            <button class="book-now-btn" (click)="engage()" *ngSwitchCase="true">book now</button>
            <button class="book-now-btn" (click)="login()" *ngSwitchCase="false">book now</button>
        </div>
    </nav>
    <div class="slider">
        <div class="slider-inner">
            <div class="slide active"><p>Santorini</p></div>
            <div class="slide"><p>Sevilla</p></div>
            <div class="slide"><p>Madrid</p></div>
        </div>
        <nav class="slider-nav">
            <div class="slider active"></div>
            <div class="slider"></div>
            <div class="slider"></div>
        </nav>
    </div>
</div>
