/* Extra large devices (large desktops) */
/* DEPARTURE & ARRIVAL FORM */
#flights-select {
    margin-bottom: 35px;
}
#flights-select h1 {
    text-align: center;
    margin-top: 25px;
}

table {
    text-align: center;
}

/* FLIGHTS TABLE */
#flights-table tbody tr:nth-child(4n),
#flights-table tbody tr:nth-child(4n-1) {
    background: #fff;
}
#flights-table tbody tr:nth-child(4n-2),
#flights-table tbody tr:nth-child(4n-3) {
    background: #0000000d;
}
#flights-table .price {
    color: #02b002;
}
#flights-table .star-rating .fa-star {
    color: #f4e400;
}
#flights-table .btn-sm {
    min-height: 31px;
    min-width: 65px;
}

/* COLLAPSE */
.collapse-review,
.collapse-review:hover {
    background-color: #fff !important;
}
.collapse-review div {
    text-align: center;
    margin: 0 125px 10px;
    padding: 15px 25px 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}


/* RESPONSIVE */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #flights-select img {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}