<div id="flights-select" class="row"> 
  
  <!-- DEPARTURE & ARRIVAL FORM -->
  <div class="col-md-5 offset-md-2">
    <h1>Book your flight</h1>
    <img src="flight.jpg" class="img-fluid" alt="Plane image">
  </div>
  <div id="flightSelector" class="col-md-3">
    <form action="/action_page.php">
      <div class="form-group">
        <label for="departure">From:</label>
        <select id="departure" class="form-control" type="text" name="departure" required>
          <option selected>Select departure</option>
          <option>Iasi</option>
          <option>Londra</option>
        </select>
      </div>
      <div class="form-group">
        <label for="destination">To:</label>
        <select id="destination" class="form-control" type="text" name="destination" required>
          <option selected>Select destination</option>
          <option>Bucuresti</option>
          <option>Roma</option>
          <option>Suceava</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="sendSubmision()">Book now!</button>
    </form>
  </div>
</div>

<!-- FLIGHTS TABLE -->
<div id="flights-table" class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Flight</th>
        <th>Departure</th>
        <th>Destination</th>
        <th>Price</th>
        <th>Company</th>
        <th>Plane</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <tr class="tableRow">       
        <td>12314</td>                
        <td>London 16:30</td>
        <td>Bucharest 18:30</td>
        <td>100 <span class="price">$</span></td>
        <td>BlueAir</td>
        <td>1</td>
        <td>
          <div class="star-rating">
            <span class="fa fa-star" data-rating="1"></span>
            <span class="fa fa-star" data-rating="2"></span>
            <span class="fa fa-star" data-rating="3"></span>
            <span class="fa fa-star-o" data-rating="4"></span>
            <span class="fa fa-star-o" data-rating="5"></span>
          </div>
        </td>
        
		<!-- COLLAPSE -->
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="isCollapsed1 = !isCollapsed1"
          [attr.aria-expanded]="!isCollapsed1" aria-controls="review1">
            View
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="isCollapsed1 = !isCollapsed1"
          [attr.aria-expanded]="!isCollapsed1" aria-controls="review1" routerLink="/seats-configure-page">
            Select
          </button>
        </td>
      </tr>
      <tr id="review1" class="collapse-review" [ngbCollapse]="!isCollapsed1">
        <td colspan="8">
          <div>
            "Our flight left on time and our flight attendants were courteous and amusing. The service was very quick. There was no in-flight movie. Our return trip was delayed because of weather, but the flight was still good. We had the good fortune to sit by the emergency exit door which gave us more leg room. All in all, good flight."
          </div>
          <div>
            "They had a three hour delay due to needing a part. At that point they issued a $100 voucher to everyone. Not bad considering I paid $95 got the flight"
          </div>
        </td>
      </tr>

    </tbody>
  </table>
</div>