/* Extra large devices (large desktops) */
/* FLIGHTS TABLE */
#flights-select {
    margin-bottom: 35px;
}
#flights-select h1 {
    text-align: center;
    margin-top: 25px;
}
#flights-table .price {
    color: #02b002;
}
#flights-table .star-rating .fa-star {
    color: #f4e400;
}
#flights-table .btn-sm {
    min-height: 31px;
    min-width: 65px;
}


/* RESPONSIVE */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #flights-select img {
        display: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}