
#wrapperSeats {
    display: grid;
    grid-template-areas:
        "planes detailsWrapper";
    grid-template-columns: 7fr 3fr;
    grid-gap:15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrapperSeats #planes {
    grid-area: planes;
    width: 100%;
}

#wrapperSeats > #detailsWrapper {
    grid-area: detailsWrapper ;
    display: grid;
    grid-template-areas:
        "detailsContent"; 
    grid-template-rows: 2fr;
    grid-gap: 15px;
    width: 90%;
    margin: 0 auto;
    min-height: 0; 
}


.plane-type-1{
 
}

.plane-type-2{
 
}

.plane-type-3{
 
}

#planes .secondBigDiv {
    text-align: center;
    width: 100%;
}

.loadingDiv{
    margin: 0 auto;
    /* width: 300px; */
    display: block;
    background-color: #3199DA;
}

.loadingImg{
    height: auto; 
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.chosen-seats span {
    border: 1px solid lightgrey;
    padding: 3px;
}

#detailsContent {
    grid-area: detailsContent ;
    width: 30%;
    height: 100%;
    display: block;
    position: fixed;
}

#legend{
    display: block;
    border: 1px solid #A1CFEE;
    padding: 7px;
    border-radius: 5px;
    height: 20%;
    margin-bottom: 15px;
}

#selectedSeats {
    display: block;
    height: 30%;
    border: 1px solid #A1CFEE;
    padding: 7px;
    border-radius: 5px;
}

/*PLANE 4*/
.plane-type-4 {
    width:80%;
    z-index: 100;
}

.plane-type-4 button[class^='id'] {
    background-color: #A1CFEE;
    border-radius: 10%;
    border: 3px #3199DA;
    display: inline-block;
    font-size: 7.5pt; 
    height: 35px;
    margin: 3px;
    width: 35px; 
    z-index: 10;
 } 

.plane-type-4 .bigDiv {
    left: 0;
    margin-left: 17%;
    margin-right: auto;
    margin-top: 27%;
    position: absolute;
    position: absolute;
    top: 180px;
    width: 280px;
    z-index: 2500;
}

.plane-type-4 .bigDiv button:nth-of-type(6n + 3) {
    margin-right: 30px;
}
.plane-type-4 .bigDiv button:nth-of-type(71n) {
    margin-bottom: 90px;
}

/*PLANE 3*/
.plane-type-3 .bigDiv button:nth-of-type(7n+2) {
    margin-right: 30px;
}

.plane-type-3 .bigDiv button:nth-of-type(7n+5) {
    margin-right: 30px;
}
.plane-type-3 .bigDiv button:nth-of-type(90n) {
    margin-bottom: 85px;
}

.plane-type-3 button[class^='id'] {
    background-color: #A1CFEE;
    border: 3px #3199DA;
    display: inline-block;
    margin: 3px;
    width: 35px; 
    height: 35px;
    font-size: 7.5pt; 
    border-radius: 10%;
    z-index: 10;
 } 

 .plane-type-3 .bigDiv {
    margin-left: 17%;
    margin-right: auto;
    margin-top: 27%;
    position: absolute;
    width: 360px;
    z-index: 2500;
    position: absolute;
    top: 180px;
    left: 0;
}

/*PLANE 2*/
.plane-type-2 .bigDiv button:nth-of-type(4n+2) {
    margin-right: 30px;
}

.plane-type-2 .bigDiv button:nth-of-type(35n) {
    margin-bottom: 70px;
}

.plane-type-2 button[class^='id'] {
    background-color: #A1CFEE;
    border: 3px #3199DA;
    display: inline-block;
    margin: 3px;
    width: 35px; 
    height: 35px;
    font-size: 7.5pt; 
    border-radius: 10%;
    z-index: 10;
 } 

 .plane-type-2 .bigDiv {
    margin-left: 27%;
    margin-right: auto;
    margin-top: 8%;
    position: absolute;
    width: 200px;
    /* height: 100px; */
    z-index: 2500;
    position: absolute;
    top: 180px;
    left: 0;
    /* background-color: #3199DA; */
}

#planes .secondBigDiv #plane2img{
    width: 325px;
}

.plane-type-1 .bigDiv button:nth-of-type(10n+3) {
    margin-right: 30px;
}

.plane-type-1 .bigDiv button:nth-of-type(10n+7) {
    margin-right: 30px;
}

.plane-type-1 .bigDiv button:nth-of-type(189n) {
    margin-bottom: 90px;
}

.plane-type-1 button[class^='id'] {
    background-color: #A1CFEE;
    border: 3px #3199DA;
    display: inline-block;
    margin: 3px;
    width: 40px; 
    height: 40px;
    font-size: 7.5pt; 
    border-radius: 10%;
    z-index: 10;
 } 

 .plane-type-1 .bigDiv {
    margin-left: 16.5%;
    margin-right: auto;
    margin-top: 24%;
    position: absolute;
    width: 550px;
    z-index: 2500;
    position: absolute;
    top: 180px;
    left: 0;
}


#planes .secondBigDiv #plane1img {
    width: 74%;
    margin-left: -80px;
}

/* MEDIA QUERIES*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #wrapperSeats {
        height: 100%;
        grid-template-areas:
            "planes" 
            "detailsWrapper";
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 1fr;

    }

    #detailsContent {
        position: relative;
    }
    
    #legend{
        display: none;
        visibility: hidden;
    }
   
    /*PLANE 1*/
    .plane-type-1 .bigDiv {
        position: absolute;
        top: 19%;
        left: 15px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: auto;
    }
    .plane-type-1 button[class^='id'] {
        width: 32px;
        height: 32px;
    }

    .plane-type-1 .bigDiv button:nth-of-type(10n+3) {
        margin-right: 36px;
    }
    
    .plane-type-1 .bigDiv button:nth-of-type(10n+7) {
        margin-right: 36px;
    }

    #planes .secondBigDiv #plane1img {
        width: 700px;
        margin: 0 auto;
    }

    #planes .secondBigDiv {
        width: 700px;
        margin: 0 auto;
    }
    
    #selectedSeats{
        position: fixed;
        z-index: 3000;
        background: white;
        bottom: 20px;
        width: 85%;
        height: 30%;
    }

    /*PLANE 2*/
    .plane-type-2 .bigDiv {
        position: absolute;
        top: 19%;
        left: 20px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: auto;
    }
    .plane-type-2 button[class^='id'] {
        width: 87px;
        height: 87px;
        font-size: x-large;
    }

    .plane-type-2 .bigDiv button:nth-of-type(4n+2) {
        margin-right: 60px;
    }
    
    .plane-type-2 .bigDiv button:nth-of-type(35n) {
        margin-bottom: 80px;
    }

    #planes .secondBigDiv #plane2img {
        width: 700px;
        margin: 0 auto;
    }

    
    /*PLANE 3*/
    .plane-type-3 .bigDiv {
        position: absolute;
        top: 18.5%;
        left: 15px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: auto;
    }
    .plane-type-3 button[class^='id'] {
        width: 50px;
        height: 50px;
        font-size: large;
    }

    #planes .secondBigDiv #plane3img {
        width: 700px;
        margin: 0 auto;
    }
    /*PLANE 4*/
    .plane-type-4 .bigDiv {
        position: absolute;
        top: 19%;
        left: 35px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: auto;
    }
    .plane-type-4 button[class^='id'] {
        width: 53px;
        height: 53px;
        font-size: large;
    }

    .plane-type-4 .bigDiv button:nth-of-type(6n + 3) {
        margin-right: 70px;
    }

    /* .plane-type-1 .bigDiv button:nth-of-type(10n+3) {
        margin-right: 36px;
    }
    
    .plane-type-1 .bigDiv button:nth-of-type(10n+7) {
        margin-right: 36px;
    } */

    #planes .secondBigDiv #plane4img {
        width: 700px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1880px) {
   
    #planes .secondBigDiv {
        width: 500px;
        margin: 0 auto;
    }

    /*PLANE 1*/
    .plane-type-1{
        position: relative;
    }

    .plane-type-1 .bigDiv {
        position: absolute;
        top: 21.5%;
        left: 135px;
        right: 0;
        width: 400px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-1 button[class^='id'] {
        width: 28px;
        height: 28px;
        font-size: xx-small;
    }

    .plane-type-1 .bigDiv button:nth-of-type(10n+3) {
        margin-right: 20px;
    }
    
    .plane-type-1 .bigDiv button:nth-of-type(10n+7) {
        margin-right: 20px;
    }

    .plane-type-1 .bigDiv button:nth-of-type(189n) {
        margin-bottom: 50px;
    }

    #planes .secondBigDiv #plane1img {
        width: 600px;
        margin: 0 auto;
    }

    
    #detailsContent {
        grid-area: detailsContent ;
        width: 100%;
        height: 40%;
        display: block;
        position: fixed;
    }


    /*PLANE 2*/
    .plane-type-2{
        position: relative;
    }

    .plane-type-2 .bigDiv {
        position: absolute;
        top: 21.5%;
        left: 210px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-2 button[class^='id'] {
        width: 85px;
        height: 85px;
        font-size: x-large;
    }

    .plane-type-2 .bigDiv button:nth-of-type(4n+2) {
        margin-right: 80px;
    }
    
    .plane-type-2 .bigDiv button:nth-of-type(35n) {
        margin-bottom: 150px;
    }

    #planes .secondBigDiv #plane2img {
        width: 700px;
        margin: 0 auto;
    }

    #planes .secondBigDiv {
        width: 500px;
        margin: 0 auto;
    }
    /*PLANE 3*/
    .plane-type-3{
        position: relative;
    }

    .plane-type-3 .bigDiv {
        position: absolute;
        top: 23%;
        left: 35px;
        right: 0;
        width: 350px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-3 button[class^='id'] {
        width: 32px;
        height: 32px;
    }

    #planes .secondBigDiv #plane3img {
        width: 500px;
        margin: 0 auto;
    }

    /*PLANE 4*/
    .plane-type-4{
        position: relative;
    }

    .plane-type-4 .bigDiv {
        position: absolute;
        top: 21.5%;
        left: 20px;
        right: 0;
        width: 330px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-4 button[class^='id'] {
        width: 37px;
        height: 37px;
    }
    .plane-type-4 .bigDiv button:nth-of-type(6n + 3) {
        margin-right: 60px;
    }

    .plane-type-4 .bigDiv button:nth-of-type(71n) {
        margin-bottom: 60px;
    }

    #planes .secondBigDiv #plane4img {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1881px) {

    /*PLANE 1*/
    .plane-type-1{
        position: relative;
    }

    .plane-type-1 .bigDiv {
        position: absolute;
        top: 21.5%;
        left: 210px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-1 button[class^='id'] {
        width: 32px;
        height: 32px;
    }

    .plane-type-1 .bigDiv button:nth-of-type(10n+3) {
        margin-right: 36px;
    }
    
    .plane-type-1 .bigDiv button:nth-of-type(10n+7) {
        margin-right: 36px;
    }

    #planes .secondBigDiv #plane1img {
        width: 700px;
        margin: 0 auto;
    }

    #planes .secondBigDiv {
        width: 700px;
        margin: 0 auto;
    }
    
    #detailsContent {
        grid-area: detailsContent ;
        width: 100%;
        height: 40%;
        display: block;
        position: fixed;
    }

    /*PLANE 2*/
    .plane-type-2{
        position: relative;
    }

    .plane-type-2 .bigDiv {
        position: absolute;
        top: 21.5%;
        left: 210px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-2 button[class^='id'] {
        width: 85px;
        height: 85px;
        font-size: x-large;
    }

    .plane-type-2 .bigDiv button:nth-of-type(4n+2) {
        margin-right: 80px;
    }
    
    .plane-type-2 .bigDiv button:nth-of-type(35n) {
        margin-bottom: 150px;
    }

    #planes .secondBigDiv #plane2img {
        width: 700px;
        margin: 0 auto;
    }

    #planes .secondBigDiv {
        width: 500px;
        margin: 0 auto;
    }
    /*PLANE 3*/
    .plane-type-3{
        position: relative;
    }

    .plane-type-3 .bigDiv {
        position: absolute;
        top: 21.5%;
        left: 210px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-3 button[class^='id'] {
        width: 50px;
        height: 50px;
        font-size: large;
    }

    /* .plane-type-1 .bigDiv button:nth-of-type(10n+3) {
        margin-right: 36px;
    }
    
    .plane-type-1 .bigDiv button:nth-of-type(10n+7) {
        margin-right: 36px;
    } */

    #planes .secondBigDiv #plane3img {
        width: 700px;
        margin: 0 auto;
    }
    /*PLANE 4*/
    .plane-type-4{
        position: relative;
    }

    .plane-type-4 .bigDiv {
        position: absolute;
        top: 21.5%;
        left: 235px;
        right: 0;
        width: 450px;
        height: 30%;
        margin: 0 auto;
    }
    .plane-type-4 button[class^='id'] {
        width: 53px;
        height: 53px;
        font-size: large;
    }

    .plane-type-4 .bigDiv button:nth-of-type(6n + 3) {
        margin-right: 70px;
    }
    .plane-type-4 .bigDiv button:nth-of-type(71n) {
        margin-bottom: 90px;
    }

    #planes .secondBigDiv #plane4img {
        width: 700px;
        margin: 0 auto;
    }
}
