<!--
<div class="loadingDiv" [hidden]="!shouldShowLoading">
    <img class="loadingImg" src="resources/flight-loader-dribbble.gif">
</div>
-->
<div id="wrapperSeats">
<div [ngSwitch]="getPlaneType()" id="planes" [class]="'plane-type-' + getPlaneType()">
    <!--Type 1-->
    <div *ngSwitchCase="1">
        <h3>Type 1</h3>
        <div  class='secondBigDiv'>
            <img src="resources/fat-plane2.png" id="plane4img">
        </div>
        <div  class='bigDiv'>
            <span>
            <button class="id{{number}}" *ngFor="let number of seatsVector"
                id="button@{{ number }}" (click)="buttonClick(number)">{{number}}</button>
            </span>
        </div>
    </div>
    <!--Type 2-->
    <div *ngSwitchCase="2">
        <h3>Type 2</h3>
        <div  class='secondBigDiv'>
            <img src="resources/type1.jpg" id="plane4img">
        </div>
        <div  class='bigDiv'>
            <button class="id{{number}}" *ngFor="let number of seatsVector"
                id="button@{{ number }}" (click)="buttonClick(number)">{{number}}</button>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <h3>Type 3</h3>

        <div  class='secondBigDiv'>
            <img src="resources/type1.jpg" id="plane4img">
        </div>
        <div  class='bigDiv'>
            <button class="id{{number}}" *ngFor="let number of seatsVector"
                id="button@{{ number }}" (click)="buttonClick(number)">{{number}}</button>
        </div>
    </div>
    <!--Type 4-->
    <div *ngSwitchCase="4">
        <h3>Type 4</h3>

            <div  class='secondBigDiv'>
                <img src="resources/type1.jpg" id="plane4img">
            </div>
            <div  class='bigDiv'>
                <button class="id{{number}}" *ngFor="let number of seatsVector"
                    id="button@{{ number }}" (click)="buttonClick(number)">{{number}}</button>
            </div>
    </div>

</div>
<div id="detailsWrapper" >
    <div id="detailsContent">
        <div id="legend">Aici zace Legenda</div>
        <div id="selectedSeats">
            <p>Seats selected:</p>
            <span  *ngFor="let number of chosenSeats">
                {{number}}  
            </span>
            <br>
            <button (click)="saveSeats()" routerLink="/payment-page">
                Next page
            </button>
        </div>
    </div>
</div>