.container {
    max-width: 960px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.border-top-gray {
    border-top-color: #adb5bd;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-condensed {
    line-height: 1.25;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.bgColor-blue {
    background-color: #5648db !important;
    color: white !important;
}

.bgColor-green {
    background-color: #28a745 !important;
    color: white !important;
}

#feedMess {
    margin: 30px 0;
    cursor: pointer;
}

.card.jh-card {
    border: none !important;
}

/* =============================================================
   PAGE STYLES
 ============================================================ */

.contact-info span {
    font-size: 14px;
    padding: 0px 50px 0px 50px;
}

.contact-info hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.client-info {
    font-size: 15px;
}

.ttl-amts {
    text-align: right;
    padding-right: 50px;
}

.strong-text {
    font-weight: bold;
}

.alert-success {
    text-align: center;
    width: 40%;
    margin: 50px auto;
}

/* =============================================================
   PRINT STYLES
 ============================================================ */

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .main-navigation,
    .comments,
    .sidebar,
    .footer {
        display: none;
    }
    @page {
        margin: none;
        orphans: 4;
        widows: 3;
        size: A4 landscape;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 30px;
        margin: 1.6cm;
    }
    body {
        color: #000;
        background: #fff;
    }
    #dont-print {
        display: none;
    }
    .jh-card {
        border: none !important;
    }
    .footer {
        margin-top: 5em;
    }
}