.container {
    max-width: 960px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.border-top-gray {
    border-top-color: #adb5bd;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-condensed {
    line-height: 1.25;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

.bgColor-blue {
    background-color: #5648db !important;
    color: white !important;
}

.bgColor-green {
    background-color: #28a745 !important;
    color: white !important;
}

#feedMess {
    margin: 30px 0;
    cursor: pointer;
}
