<div>
    <div class="options">
        <ul>
            <li class="option-item" (click)="setSettingsOption('Account')">Account details</li>
            <li class="option-item" (click)="setSettingsOption('Personal')">Personal Details</li>
            <li class="option-item" (click)="setSettingsOption('Password')">Change password</li>
            <li class="option-item" (click)="setSettingsOption('History')">Ticket history</li>
            <li class="option-item" (click)="setSettingsOption('Reviews')">My reviews</li>
        </ul>
    </div>

    <div [ngSwitch]="getSettingsOption()">
        <div class="row justify-content-center" *ngSwitchCase="'Account'">
            <div class="col-md-8">
                <h2 *ngIf="settingsAccount">User settings for [
                    <b>{{settingsAccount.login}} </b> ]</h2>

                <div class="alert alert-success" *ngIf="success">
                    <strong>Settings saved!</strong>
                </div>

                <jhi-alert-error></jhi-alert-error>

                <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                    <div class="form-group">
                        <label class="form-control-label" for="firstName">First Name</label>
                        <div class="input-group-prepend">
                            <span class="btn rounded-0" id="validForm" *ngIf="!firstNameInput.invalid">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <span class="btn rounded-0" id="invalidForm" *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <input type="text" class="form-control rounded-0" id="firstName" name="firstName" placeholder="Your first name" [(ngModel)]="settingsAccount.firstName"
                                minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                        </div>
                        <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                            <small class="form-text text-danger" *ngIf="firstNameInput.errors.required">
                                Your first name is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="firstNameInput.errors.minlength">
                                Your first name is required to be at least 1 character.
                            </small>
                            <small class="form-text text-danger" *ngIf="firstNameInput.errors.maxlength">
                                Your first name cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="lastName">Last Name</label>
                        <div class="input-group-prepend">
                            <span class="btn rounded-0" id="validForm" *ngIf="!lastNameInput.invalid">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <span class="btn rounded-0" id="invalidForm" *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <input type="text" class="form-control rounded-0" id="lastName" name="lastName" placeholder="Your last name" [(ngModel)]="settingsAccount.lastName"
                                minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                        </div>
                        <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                            <small class="form-text text-danger" *ngIf="lastNameInput.errors.required">
                                Your last name is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="lastNameInput.errors.minlength">
                                Your last name is required to be at least 1 character.
                            </small>
                            <small class="form-text text-danger" *ngIf="lastNameInput.errors.maxlength">
                                Your last name cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="email">Email</label>
                        <div class="input-group-prepend">
                            <span class="btn rounded-0" id="validForm" *ngIf="!emailInput.invalid">
                                <i class="fa fa-envelope-open"></i>
                            </span>
                            <span class="btn rounded-0" id="invalidForm" *ngIf="emailInput.dirty && emailInput.invalid">
                                <i class="fa fa-envelope-open"></i>
                            </span>
                            <input type="email" class="form-control rounded-0" id="email" name="email" placeholder="Your email" [(ngModel)]="settingsAccount.email"
                                minlength="5" maxlength="100" #emailInput="ngModel" email required>
                        </div>
                        <div *ngIf="emailInput.dirty && emailInput.invalid">
                            <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                                Your email is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                                Your email is invalid.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.minlength">
                                Your email is required to be at least 5 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                                Your email cannot be longer than 100 characters.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

        <div *ngSwitchCase="'Password'">
            <jhi-password></jhi-password>
        </div>

        <div class="ticket-main" *ngSwitchCase="'History'">
            <div class="ticket-item-expired">
                <h4 class="ticket-trip">Bucharest - London</h4>
                <div class="ticket-info-left">
                    <div>Date: 01.06.2018</div>
                    <div>Seat: 23</div>
                    <div>Class: First class</div>
                </div>
                <div class="ticket-info-right">
                    <div>Departure: 13:30</div>
                    <div>Boarding: 13:00</div>
                </div>
                <span style="clear: both;"></span>
            </div>
            <div class="ticket-item-expired">
                <h4 class="ticket-trip">Paris - Iasi</h4>
                <div class="ticket-info-left">
                    <div>Date: 25.11.2018</div>
                    <div>Seat: 1</div>
                    <div>Class: Second class</div>
                </div>
                <div class="ticket-info-right">
                    <div>Departure: 17:30</div>
                    <div>Boarding: 16:50</div>
                </div>
            </div>
            <div class="ticket-item-expired">
                <h4 class="ticket-trip">Brussels - Bacau</h4>
                <div class="ticket-info-left">
                    <div>Date: 17.02.2019</div>
                    <div>Seat: 134</div>
                    <div>Class: Second class</div>
                </div>
                <div class="ticket-info-right">
                    <div>Departure: 09:20</div>
                    <div>Boarding: 08:50</div>
                </div>
            </div>
        </div>

        <div class="review-main" *ngSwitchCase="'Reviews'">
            <div class="review-item" *ngFor="let review of reviews">
                <h2>{{review.departure}} - {{review.arrival}}</h2>
                <p>Company: {{review.company}}</p>
                <span>{{review.description}}</span>
                <br>
                <div class="inline-div" *ngFor="let n of range(review.rating)">
                    <i style="font-size:20px" class="fa">&#xf005;</i>
                </div>
            </div>
        </div>


        <div class="row justify-content-center" *ngSwitchCase="'Personal'">
            <form style="width: 80%" name="editForm" role="form" novalidate (ngSubmit)="personalSave()" #editForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="field_prenume">First Name</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.prenume?.invalid)">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!(editForm.controls.prenume?.dirty && editForm.controls.prenume?.invalid)">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="prenume" id="field_prenume" [(ngModel)]="userinfo.prenume" required
                            minlength="3" maxlength="60" />
                    </div>

                    <div [hidden]="!(editForm.controls.prenume?.dirty && editForm.controls.prenume?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.prenume?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.prenume?.errors?.minlength">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.prenume?.errors?.maxlength">
                            This field cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Last Name</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.name?.invalid)">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                            <i class="fa fa-user-circle"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="name" id="field_name" [(ngModel)]="userinfo.name" required minlength="3"
                            maxlength="20" />
                    </div>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.minlength">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.name?.errors?.maxlength">
                            This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.dateOfBirth?.invalid)">
                                <i class="fa fa-calendar-plus-o"></i>
                            </span>
                            <span class="btn rounded-0" id="invalidForm" [hidden]="!(editForm.controls.dateOfBirth?.invalid)">
                                <i class="fa fa-calendar-plus-o"></i>
                            </span>
                        </div>
                        <input id="field_dateOfBirth" type="text" class="form-control rounded-0" name="dateOfBirth" ngbDatepicker #dateOfBirthDp="ngbDatepicker"
                            [(ngModel)]="userinfo.dateOfBirth" required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.dateOfBirth?.dirty && editForm.controls.dateOfBirth?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.dateOfBirth?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cnp">National identification number</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.cnp?.invalid)">
                            <i class="fa fa-flag"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!( editForm.controls.cnp?.invalid)">
                            <i class="fa fa-flag"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="cnp" id="field_cnp" [(ngModel)]="userinfo.cnp" required minlength="13"
                        />
                    </div>
                    <div [hidden]="!(editForm.controls.cnp?.dirty && editForm.controls.cnp?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.cnp?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.cnp?.errors?.minlength">
                            This field is required to be at least 13 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_adress">Adress</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.adress?.invalid)">
                            <i class="fa fa-map-marker fa-1.5x"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!( editForm.controls.adress?.invalid)">
                            <i class="fa fa-map-marker"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="adress" id="field_adress" [(ngModel)]="userinfo.adress" required/>
                    </div>
                    <div [hidden]="!(editForm.controls.adress?.dirty && editForm.controls.adress?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.adress?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phoneNumber">Phone Number</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.phoneNumber?.invalid)">
                            <i class="fa fa-phone"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!(editForm.controls.phoneNumber?.invalid)">
                            <i class="fa fa-phone"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="phoneNumber" id="field_phoneNumber" [(ngModel)]="userinfo.phoneNumber"
                            required minlength="5" />
                    </div>
                    <div [hidden]="!(editForm.controls.phoneNumber?.dirty && editForm.controls.phoneNumber?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.phoneNumber?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.phoneNumber?.errors?.minlength">
                            This field is required to be at least 5 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_idType">Travel Document Type</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="( editForm.controls.idType?.invalid)">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!( editForm.controls.idType?.invalid)">
                            <i class="fa fa-file-text-o"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="idType" id="field_idType" [(ngModel)]="userinfo.idType" required/>
                    </div>
                    <div [hidden]="!(editForm.controls.idType?.dirty && editForm.controls.idType?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.idType?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_serialNumber">Serial Number</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.serialNumber?.invalid)">
                            <i class="fa fa-database"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!(editForm.controls.serialNumber?.invalid)">
                            <i class="fa fa-database"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="serialNumber" id="field_serialNumber" [(ngModel)]="userinfo.serialNumber"
                            required minlength="3" />
                    </div>
                    <div [hidden]="!(editForm.controls.serialNumber?.dirty && editForm.controls.serialNumber?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.serialNumber?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.serialNumber?.errors?.minlength">
                            This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emittingCountry">Emitting Country</label>
                    <div class="input-group-prepend">
                        <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.emittingCountry?.invalid)">
                            <i class="fa fa-font-awesome"></i>
                        </span>
                        <span class="btn rounded-0" id="invalidForm" [hidden]="!(editForm.controls.emittingCountry?.invalid)">
                            <i class="fa fa-font-awesome"></i>
                        </span>
                        <input type="text" class="form-control rounded-0" name="emittingCountry" id="field_emittingCountry" [(ngModel)]="userinfo.emittingCountry"
                            required/>
                    </div>
                    <div [hidden]="!(editForm.controls.emittingCountry?.dirty && editForm.controls.emittingCountry?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.emittingCountry?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expiringDate">Expiring Date</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="btn rounded-0" id="validForm" [hidden]="(editForm.controls.expiringDate?.invalid)">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                            <span class="btn rounded-0" id="invalidForm" [hidden]="!(editForm.controls.expiringDate?.invalid)">
                                <i class="fa fa-calendar-o"></i>
                            </span>
                        </div>
                        <input id="field_expiringDate" type="text" class="form-control rounded-0" name="expiringDate" ngbDatepicker #expiringDateDp="ngbDatepicker"
                            [(ngModel)]="userinfo.expiringDate" required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiringDateDp.toggle()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>

                    </div>
                    <div [hidden]="!(editForm.controls.expiringDate?.dirty && editForm.controls.expiringDate?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.expiringDate?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;
                    <span>Save</span>
                </button>
            </form>
        </div>
    </div>
</div>
